{% extends 'base.html' %}
{% load cart %}

{% block content %}
<div class="container pt-5">
    <div class="border rounded m-5">
        <p class="display-6 text-center bg-dark text-white py-2">Your Cart</p>
        <table class="table text-center">
            <thead>
                <tr>
                    <th>Sno</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr class="">
                    <td>{{forloop.counter}}</td>
                    <td><img style="height:80px;" class="rounded" src="{{product.image.url}}" alt=""></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product|cart_quantity:request.session.cart}}</td>
                    <td>{{product|price_total:request.session.cart}}</td>
                </tr>
                {% endfor %}
            </tbody>

            <tfoot class="text-center">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Total</th>
                    <th>{{products|total_cart_price:request.session.cart}}</th>
                </tr>
            </tfoot>
        </table>

        <div class="m-3 p-3">
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-success col-lg-3 float-right">Check Out</a>
        </div>
    </div>
</div>

{% comment %} modal starts {% endcomment %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Check Out Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/check_out/" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                      <input type="text" name="address" class="form-control" placeholder="Enter address" aria-describedby="helpId">
                    </div>
                    <div class="mb-3">
                      <input type="text" name="phone" class="form-control" placeholder="Enter phone number" aria-describedby="helpId">
                    </div>
                    <input type="submit" class="btn float-right btn-outline-info col-lg-6" value="Check Out">
                </form>
            </div>
        </div>
    </div>
</div>
{% comment %} modal ends {% endcomment %}
{% endblock content %}