{% extends 'base.html' %}
{% load cart %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static '/css/index.css' %}">
{% endblock styles %}

{% block title %}
<title>E-Shop</title>
{% endblock title %}

{% block content %}
<div class="container-fluid mt-5 pt-5">
    <div class="row">
        {% comment %} categories {% endcomment %}
        <div class="col-lg-2 mx-auto">
            <div>
                <p class="alert alert-success mb-3 font h5 text-center">Categories</p>
            </div>
            <div class="list-group" id="navitem_list">
                <a href="/?category=-1" class="list-group-item list-group-item-action">All Products</a>
                {% for category in categories %}
                <a href="/?category={{category.id}}" class="list-group-item list-group-item-action" active>{{category.name}}</a>
                {% endfor %}
            </div>
        </div>

        {% comment %} all products starts {% endcomment %}
        <div id="products" class="col-lg-9 mx-auto">
            <div class="row mx-auto">
                {% for product in products %}
                <div class="card mx-2 p-0 mb-4 shadow" id="{{product.id}}" style="width: 16rem;">
                    <img src="{{product.image.url}}" class="card-img-top image-cover" alt="" height="250px">
                    <div class="card-body">
                        <hr>
                        <p class="card-title">{{product.name}}</p>
                        <p class="card-text"><i class="fa-solid fa-bangladeshi-taka-sign"></i><b> {{product.price}}</b></p>
                    </div>

                    <div class="card-footer p-0">
                        {% comment %} using custom filter from cart.py. "request" is also accessible in html template {% endcomment %}
                        {% if product|is_in_cart:request.session.cart %}
                        {% comment %} quantity increment and decrement starts {% endcomment %}
                        <div class="row g-0">
                            {% comment %} minus button starts {% endcomment %}
                            <form action="/#{{product.id}}" method="POST" class="col-2">
                                {% csrf_token %}
                                <input type="text" name="product" value="{{product.id}}" hidden>
                                <input type="text" name="remove" value="True" hidden>
                                <input type="submit" value=" - " class="btn btn-block btn-dark">
                            </form>
                            {% comment %} minus button ends {% endcomment %}

                            <div class="text-center col pt-2">{{product|cart_quantity:request.session.cart}} in Cart</div>

                            {% comment %} plus button starts {% endcomment %}
                            <form action="/#{{product.id}}" method="POST" class="col-2">
                                {% csrf_token %}
                                <input type="text" name="product" value="{{product.id}}" hidden>
                                <input type="submit" value=" + " class="btn btn-block btn-dark">
                            </form>
                            {% comment %} plus button ends {% endcomment %}
                        </div>
                        {% comment %} quantity increment and decrement starts {% endcomment %}

                        {% else %}
                        {% comment %} Add to Cart Button starts {% endcomment %}
                        <form action="/#{{product.id}}" method="POST" class="btn-block">
                            {% csrf_token %}
                            <input type="text" name="product" value="{{product.id}}" hidden>
                            <input type="submit" class="btn btn-dark border form-control" value="Add To Cart">
                        </form>
                        {% comment %} Add to Cart Button ends {% endcomment %}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% comment %} all products ends {% endcomment %}

    </div>
</div>

<div class="d-flex justify-content-center py-5 fs-5" aria-label="Page navigation example">
    <ul class="pagination">
        {% if products.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
        {% endif %}

        <li class="page-item text-center px-2 pt-1 border">Page {{products.number}} of {{products.paginator.num_pages}}</li>

        {% if products.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{products.paginator.num_pages}}">Last</a></li>
        {% endif %}
    </ul>
</div>
{% endblock content %}

{% block javascript %}
{% comment %} <script type="text/javascript" src="../../static/js/index.js"></script> {% endcomment %}
<script type="text/javascript" src="{% static '/js/index.js' %}"></script>
{% endblock javascript %}