{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        {% comment %} filter {% endcomment %}
        <div class="col-lg-2 mx-auto">
            <div>
                <p class="alert alert-success mb-3 font h5 text-center">Categories</p>
            </div>
            <div class="list-group">
                <a href="/?category=-1" class="list-group-item list-group-item-action">All</a>
                {% for category in categories %}
                <a href="/?category={{category.id}}" class="list-group-item list-group-item-action">{{category.name}}</a>
                {% endfor %}
            </div>
        </div>

        {% comment %} all products {% endcomment %}
        <div id="products" class="col-lg-9 mx-auto">
            <div class="row mx-auto">
                {% for product in products %}
                <div class="card mx-2 p-0 mb-4 shadow" style="width: 18rem;">
                    <img src="{{product.image.url}}" class="card-img-top image-cover" alt="" height="300px">
                    <div class="card-body">
                        <hr>
                        <p class="card-title">{{product.name}}</p>
                        <p class="card-text"><b>{{product.price}}</b></p>
                        <a href="#" class="btn btn-light border btn-sm">Add To Cart</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}