{% extends 'base.html' %}
{% load cart %}

{% block content %}
<div class="container-fluid mt-5 pt-5">
    <div class="row">
        {% comment %} categories {% endcomment %}
        <div class="col-lg-2 mx-auto">
            <div>
                <p class="alert alert-success mb-3 font h5 text-center">Categories</p>
            </div>
            <div class="list-group">
                <a href="/?category=-1" class="list-group-item list-group-item-action">All Products</a>
                {% for category in categories %}
                <a href="/?category={{category.id}}" class="list-group-item list-group-item-action">{{category.name}}</a>
                {% endfor %}
            </div>
        </div>

        {% comment %} all products {% endcomment %}
        <div id="products" class="col-lg-9 mx-auto">
            <div class="row mx-auto">
                {% for product in products %}
                <div class="card mx-2 p-0 mb-4 shadow" style="width: 18rem;">
                    <img src="{{product.image.url}}" class="card-img-top image-cover" alt="" height="300px">
                    <div class="card-body">
                        <hr>
                        <p class="card-title">{{product.name}}</p>
                        <p class="card-text"><b>{{product.price}}</b></p>

                        {% comment %}
                        using custom filter from cart.py
                        "request" is also accessible in html template
                        {% endcomment %}
                        {{ product | is_in_cart:request.session.cart }}


                        <form action="/" method="POST">
                            {% csrf_token %}
                            {% comment %} <input type="submit" class="btn btn-light border btn-sm" value="Add To Cart"> {% endcomment %}
                            {% comment %} <input type="text" name="product">{{product.id}}</input> {% endcomment %}
                            <input type="text" name="product" value="{{product.id}}" hidden>
                            <input type="submit" class="btn btn-dark" value="Add To Cart">
                            {% comment %} <button type="submit" class="btn btn-dark" name="product"><i class="fas fa-cart-plus"></i> Add To Cart</button> {% endcomment %}
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}